@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

:root{
    --text-color:rgba(255, 0, 0, 0.767);
    --background-color:#000000ca;
    --border:2px solid red;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    background: url('https://source.unsplash.com/random/1600*900') no-repeat center center/cover;
}

body:hover{
    backdrop-filter: blur(4px);
}

section{
    display: flex;
    flex-direction:column;
    margin: 3px 233px;
    align-items: center;
    justify-content: center;
    /* border: var(--border); */
    height: 344px;

}

section h1{
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

section p{
    /* width: 93%; */
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


section::after{
    content:"";
}

li{
    /* text-decoration: none; */
    list-style: none;
    padding: 34px 23px;
}

.navigation{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    font-size: 20px;
    font-weight: bolder;

}

.navigation li:hover{
    background-color:var(--background-color);
    font-weight: bold;
}




